Source: ros-indigo-moveit-resources
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-indigo-catkin
Homepage: http://moveit.ros.org
Standards-Version: 3.9.2

Package: ros-indigo-moveit-resources
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Resources used by MoveIt!
